[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oecdoda"]
	path = oecdoda
	url = https://github.com/tidy-intelligence/r-oecdoda
[submodule "owidapi"]
	path = owidapi
	url = https://github.com/tidy-intelligence/r-owidapi
[submodule "uisapi"]
	path = uisapi
	url = https://github.com/tidy-intelligence/r-uisapi
[submodule "wbwdi"]
	path = wbwdi
	url = https://github.com/tidy-intelligence/r-wbwdi
